# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

# Example for PostgreSQL:

DATABASE_URL="postgres://myUserName:mypassword@localhost:5432/mydb"
JWT_SECRET="8ipughft837-6yg8Stars4g10-1hg9-834ghj"